<!DOCTYPE HTML>

<html>
	<head>
		<title>YangJaeHyeok Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="portfolio/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<div id="header">

			<div class="top">

				<!-- Logo -->
				<div id="logo">
					<span class="image avatar48"><img src="portfolio/images/avatar.jpg" alt="" /></span>
					<h1 id="title">Yang Jae Hyeok</h1>
					<p>Backend Developer</p>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
						<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
						<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
						<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
					</ul>
				</nav>

			</div>

			<div class="bottom">

				<!-- Social Icons -->
				<ul class="icons">
					<li><a href="https://github.com/didwogur28" class="icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="https://did8qjs.tistory.com/" class="icon solid fa-home"><span class="label">Blog</span></a></li>
				</ul>
				
			</div>

		</div>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
				<section id="top" class="one dark cover">
					<div class="container">

						<header>
							<h2 class="alt">안녕하세요,<br />
							백엔드 개발자 <strong>양재혁</strong>입니다.</h2>
							<p>어제보다 나은 개발자가 되기 위해 노력합니다.<br />
							꾸준한 한걸음이 오늘의 나를 만들기 때문입니다.</p>
						</header>

						<footer>
							<a href="#about" class="button scrolly">Learn More</a>
						</footer>

					</div>
				</section>

			<!-- About Me -->
				<section id="about" class="two">
					<div class="container">

						<header>
							<h2>About Me</h2>
						</header>

						<a href="#" class="image featured"><img src="images/mainimg1.jpg" alt="" /></a>

						<p>4년차 웹 개발자로 서버 사이드 및 통신 프로그래밍 개발에 경험을 가지고 있습니다.<br /> 
							Java, SpringBoot, JavaScript, Git, PostgreSQL, AWS 등의 기술을 사용하여<br />
							전문 송·수신 Netty 통신 서버 구축, 관련 API 개발 및 운영한 경험이 있으며<br /> 
							항상 개발 팀 리딩, 업무 프로세스와 개발 문화 개선에 노력해왔습니다.</p>

					</div>
				</section>

			<!-- Portfolio -->
				<section id="portfolio" class="three">
					<div class="container">

						<header>
							<h2>Portfolio</h2>
						</header>

						<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
						egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
						Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
						fusce hendrerit lacus ridiculus.</p>

						<div class="row">
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Ipsum Feugiat</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Rhoncus Semper</h3>
									</header>
								</article>
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Magna Nullam</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Natoque Vitae</h3>
									</header>
								</article>
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
									<header>
										<h3>Dolor Penatibus</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
									<header>
										<h3>Orci Convallis</h3>
									</header>
								</article>
							</div>
						</div>

					</div>
				</section>

			<!-- Contact -->
				<section id="contact" class="four">
					<div class="container">

						<header>
							<h2>Contact</h2>
						</header>

						<p>Elementum sem parturient nulla quam placerat viverra
						mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
						donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
						orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
								<div class="col-12">
									<textarea name="message" placeholder="Message"></textarea>
								</div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

		</div>

		<!-- Footer -->
		<div id="footer">

			<!-- Copyright -->
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>

		</div>

		<!-- Scripts -->
		<script src="portfolio/assets/js/jquery.min.js"></script>
		<script src="portfolio/assets/js/jquery.scrolly.min.js"></script>
		<script src="portfolio/assets/js/jquery.scrollex.min.js"></script>
		<script src="portfolio/assets/js/browser.min.js"></script>
		<script src="portfolio/assets/js/breakpoints.min.js"></script>
		<script src="portfolio/assets/js/util.js"></script>
		<script src="portfolio/assets/js/main.js"></script>

	</body>
</html>